@model Loja.Areas.Administracao.Models.Home.VendaDashboardViewModel
<tr>
	<td><span>@Model.Data</span></td>
	<td><span>@Model.Produto</span></td>
	<td><span>@Model.Fornecedor</span></td>
	<td><span>@Model.Quantidade</span></td>
	<td><span>@Model.PrecoVendaExibicao</span></td>
	<td><span>@Model.PrecoFornecedorExibicao</span></td>
</tr>